<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dcbaab60-1f6b-4e75-96fa-a9f095b50e0e" name="https://api.trello.com Test Suite 4" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="dcbaab60-1f6b-4e75-96fa-a9f095b50e0efileName">https%3A%2F%2Fapi.trello.com-Test-Suite-4</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
